project_poverenik/src/main/resources/wsdl/Izvestaj.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IzvestajService" targetNamespace="http://soap.spring.com/ws/report" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.spring.com/ws/report" xmlns:ns1="http://ftn.uns.ac.rs/xml_izvestaj" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://ftn.uns.ac.rs/xml_opste" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ftn.uns.ac.rs/xml_opste" version="1.0">

  <xs:complexType name="TDatum">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="property" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TOrgan">
    <xs:sequence>
      <xs:element name="Naziv">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="property" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Adresa" type="tns:TAdresa"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TAdresa">
    <xs:sequence>
      <xs:element name="Ulica" type="xs:string"/>
      <xs:element name="Broj" type="xs:positiveInteger"/>
      <xs:element name="Postanski_broj" type="xs:positiveInteger"/>
      <xs:element name="Mesto">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="property" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Drzava">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="property" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TOsoba">
    <xs:sequence>
      <xs:element name="Ime" type="xs:string"/>
      <xs:element name="Prezime" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="about" type="xs:string"/>
    <xs:attribute name="rel" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="TZakon">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Clan_zakona" type="xs:string"/>
      <xs:element name="Naziv_zakona" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TTrazilac">
    <xs:sequence>
      <xs:element name="Osoba" type="tns:TOsoba"/>
      <xs:element minOccurs="0" name="Adresa" type="tns:TAdresa"/>
      <xs:element minOccurs="0" name="Kontakt" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="rel" type="xs:string"/>
    <xs:attribute name="href" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="TIdResenja">
    <xs:sequence>
      <xs:element name="Broj" type="xs:string"/>
      <xs:element name="Godina" type="xs:positiveInteger"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TDodatne_informacije">
    <xs:sequence>
      <xs:element name="Mesto" type="xs:string"/>
      <xs:element name="Datum" type="tns:TDatum"/>
      <xs:element name="Trazilac" type="tns:TTrazilac"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:ns1="http://ftn.uns.ac.rs/xml_opste" xmlns:tns="http://ftn.uns.ac.rs/xml_izvestaj" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ftn.uns.ac.rs/xml_izvestaj" version="1.0">

  <xs:import namespace="http://ftn.uns.ac.rs/xml_opste"/>

  <xs:element name="Izvestaj" type="tns:report"/>

  <xs:complexType name="report">
    <xs:sequence>
      <xs:element name="PodnetiZahtevi">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="property" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="OdbijeniZahtevi">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="property" type="xs:string"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="SadrzinaOdbijenihZalbi">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SadrzinaOdbijeneZalbe" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DatumPodnosenja" type="ns1:TDatum"/>
    </xs:sequence>
    <xs:attribute name="about" type="xs:string"/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="sendReport">
    <wsdl:part name="report" type="ns1:report">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendReportResponse">
    <wsdl:part name="return" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IzvestajInterface">
    <wsdl:operation name="sendReport">
      <wsdl:input name="sendReport" message="tns:sendReport">
    </wsdl:input>
      <wsdl:output name="sendReportResponse" message="tns:sendReportResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IzvestajServiceSoapBinding" type="tns:IzvestajInterface">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendReport">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="sendReport">
        <soap:body use="literal" namespace="http://soap.spring.com/ws/report"/>
      </wsdl:input>
      <wsdl:output name="sendReportResponse">
        <soap:body use="literal" namespace="http://soap.spring.com/ws/report"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IzvestajService">
    <wsdl:port name="IzvestajPort" binding="tns:IzvestajServiceSoapBinding">
      <soap:address location="http://localhost:9090/IzvestajPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
